<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PortalApiGusApiRegonDataContext" connectionString="Data Source=(LocalDB)\\MSSQLLocalDB; AttachDbFilename=%Environment.GetFolderPath(Environment.SpecialFolder.ApplicationData)%\\%System.Reflection.Assembly.GetExecutingAssembly().GetName().Name%\\%System.Reflection.Assembly.GetExecutingAssembly().GetName().Name%.mdf; Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="PortalApiGusKey" value="b65986a6300044a0b7fb" />
  </appSettings>
</configuration>